USE [master]
GO
/****** Object:  Database [SistemaVentas]    Script Date: 21/11/2018 17:43:28 ******/
CREATE DATABASE [SistemaVentas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaVentas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SistemaVentas.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SistemaVentas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SistemaVentas_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaVentas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaVentas]
GO
/****** Object:  Table [dbo].[Backups]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Backups](
	[ID_BackUp] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion_backup] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Backup] PRIMARY KEY CLUSTERED 
(
	[ID_BackUp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bitacora](
	[ID_Bitacora] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[Evento] [varchar](250) NOT NULL,
	[Descripcion_bitacora] [varchar](250) NULL,
	[Fecha_Hora] [datetime] NOT NULL,
	[Criticidad] [varchar](50) NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[ID_Bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categoria](
	[ID_Categoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Categoria] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[ID_Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[Apellido] [varchar](250) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[Mail] [varchar](250) NOT NULL,
	[DVH] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Detalle_Venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Venta](
	[ID_detalle_venta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Venta] [int] NOT NULL,
	[ID_Producto] [int] NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[Precio_unitario] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Detalle_Venta] PRIMARY KEY CLUSTERED 
(
	[ID_detalle_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DVV]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DVV](
	[Nombre_Tabla] [varchar](250) NOT NULL,
	[DVV] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Error]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Error](
	[ID_Error] [int] NOT NULL,
	[Descripcion_error] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Error] PRIMARY KEY CLUSTERED 
(
	[ID_Error] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Familia](
	[ID_Familia] [int] NOT NULL,
	[Nombre_familia] [varchar](250) NOT NULL,
	[Descripcion_familia] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Familia_Usuario]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Familia_Usuario](
	[ID_Usuario] [int] NOT NULL,
	[ID_Familia] [int] NOT NULL,
	[Descripcion_familia_usuario] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Familia_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC,
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Idioma](
	[ID_Idioma] [int] NOT NULL,
	[Nombre_idioma] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[ID_Idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mensajes](
	[ID_Mensaje] [int] NOT NULL,
	[ID_Idioma] [int] NOT NULL,
	[Nombre_control] [varchar](250) NOT NULL,
	[Nombre_formulario] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Mensajes] PRIMARY KEY CLUSTERED 
(
	[ID_Mensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patente]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patente](
	[ID_Patente] [int] NOT NULL,
	[Nombre_patente] [varchar](250) NOT NULL,
	[Condicion] [varchar](250) NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patente_Familia]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patente_Familia](
	[ID_Patente] [int] NOT NULL,
	[ID_Familia] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Patente_Familia] PRIMARY KEY CLUSTERED 
(
	[ID_Patente] ASC,
	[ID_Familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[ID_Producto] [int] IDENTITY(1,1) NOT NULL,
	[ID_Categoria] [int] NOT NULL,
	[ID_Reserva] [int] NULL,
	[Descripcion] [varchar](250) NULL,
	[Nombre_Producto] [varchar](250) NOT NULL,
	[Stock] [decimal](18, 2) NOT NULL,
	[Precio_Compra] [decimal](18, 2) NOT NULL,
	[Precio_Venta] [decimal](18, 2) NOT NULL,
	[imagen] [image] NULL,
	[DVH] [int] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[ID_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Restore]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Restore](
	[ID_Restore] [int] NOT NULL,
	[Descripcion_restore] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Restore] PRIMARY KEY CLUSTERED 
(
	[ID_Restore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] NOT NULL,
	[Nombre_Usuario] [varchar](250) NOT NULL,
	[Contraseña_usuario] [varchar](30) NOT NULL,
	[Nick_Usuario] [varchar](250) NOT NULL,
	[Bloqueo] [bit] NOT NULL,
	[DNI] [int] NOT NULL,
	[Mail] [varchar](250) NOT NULL,
	[Idioma] [int] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario_Patente]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Patente](
	[ID_Usuario] [int] NOT NULL,
	[ID_Patente] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[DVH] [int] NOT NULL,
 CONSTRAINT [PK_Usuario_Patente] PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC,
	[ID_Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Venta](
	[ID_Venta] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cliente] [int] NOT NULL,
	[Fecha_Venta] [date] NOT NULL,
	[Tipo] [varchar](250) NOT NULL,
	[DNI] [varchar](8) NOT NULL,
	[Nro_Factura] [int] NULL,
	[DVH] [int] NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[ID_Venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[View_1]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_1]
AS
SELECT        dbo.Venta.ID_Venta, dbo.Venta.ID_Cliente, dbo.Cliente.Apellido, dbo.Cliente.DNI, dbo.Venta.Fecha_Venta, dbo.Venta.Tipo, dbo.Venta.DNI AS Expr1, dbo.Venta.Nro_Factura
FROM            dbo.Venta INNER JOIN
                         dbo.Cliente ON dbo.Venta.ID_Cliente = dbo.Cliente.ID_Cliente


GO
/****** Object:  View [dbo].[View_2]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_2]
AS
SELECT        dbo.Detalle_Venta.ID_detalle_venta, dbo.Detalle_Venta.ID_Venta, dbo.Detalle_Venta.ID_Producto, dbo.Producto.Nombre_Producto, dbo.Detalle_Venta.Cantidad, dbo.Detalle_Venta.Precio_unitario
FROM            dbo.Detalle_Venta INNER JOIN
                         dbo.Producto ON dbo.Detalle_Venta.ID_Producto = dbo.Producto.ID_Producto


GO
SET IDENTITY_INSERT [dbo].[Backups] ON 

INSERT [dbo].[Backups] ([ID_BackUp], [Descripcion_backup]) VALUES (1, N'Backup: rock Fecha: 21-11-2018 16.57.03')
INSERT [dbo].[Backups] ([ID_BackUp], [Descripcion_backup]) VALUES (2, N'Backup: gonogo Fecha: 21-11-2018 17.03.09')
INSERT [dbo].[Backups] ([ID_BackUp], [Descripcion_backup]) VALUES (3, N'Backup: C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\Backup\pruebanow.BAK Fecha: 21/11/2018 17:17:35')
SET IDENTITY_INSERT [dbo].[Backups] OFF
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([ID_Bitacora], [ID_Usuario], [Evento], [Descripcion_bitacora], [Fecha_Hora], [Criticidad], [DVH]) VALUES (1, 1, N'LOGIN', N'LOGIN:Ingreso Nombre: admin', CAST(N'2018-11-17 00:00:00.000' AS DateTime), N'3', 3441)
INSERT [dbo].[Bitacora] ([ID_Bitacora], [ID_Usuario], [Evento], [Descripcion_bitacora], [Fecha_Hora], [Criticidad], [DVH]) VALUES (2, 2, N'LOGIN', N'LOGIN:Ingreso Nombre: admin', CAST(N'2018-11-17 00:00:00.000' AS DateTime), N'3', 3443)
INSERT [dbo].[Bitacora] ([ID_Bitacora], [ID_Usuario], [Evento], [Descripcion_bitacora], [Fecha_Hora], [Criticidad], [DVH]) VALUES (3, 3, N'LOGIN', N'LOGIN:Ingreso Nombre: admin', CAST(N'2018-11-17 00:00:00.000' AS DateTime), N'3', 3445)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([ID_Categoria], [Nombre_Categoria]) VALUES (1, N'Cerradura')
INSERT [dbo].[Categoria] ([ID_Categoria], [Nombre_Categoria]) VALUES (2, N'Llaves')
INSERT [dbo].[Categoria] ([ID_Categoria], [Nombre_Categoria]) VALUES (3, N'Candados')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ID_Cliente], [Nombre], [Apellido], [DNI], [Mail], [DVH]) VALUES (2, N'Matias', N'Otarola', N'40080243', N'matias.e.otarola@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
INSERT [dbo].[DVV] ([Nombre_Tabla], [DVV]) VALUES (N'Bitacora', 1101666)
INSERT [dbo].[DVV] ([Nombre_Tabla], [DVV]) VALUES (N'Usuario', 42869)
INSERT [dbo].[DVV] ([Nombre_Tabla], [DVV]) VALUES (N'Patente_Familia', 12722)
INSERT [dbo].[Familia] ([ID_Familia], [Nombre_familia], [Descripcion_familia]) VALUES (1, N'Administrador', N'Usuario con máximos permisos')
INSERT [dbo].[Familia] ([ID_Familia], [Nombre_familia], [Descripcion_familia]) VALUES (2, N'Ventas', N'Administrador de ventas')
INSERT [dbo].[Familia] ([ID_Familia], [Nombre_familia], [Descripcion_familia]) VALUES (3, N'Producto', N'Administrador de productos y categorías')
INSERT [dbo].[Familia_Usuario] ([ID_Usuario], [ID_Familia], [Descripcion_familia_usuario]) VALUES (1, 1, N'Administrador General')
INSERT [dbo].[Familia_Usuario] ([ID_Usuario], [ID_Familia], [Descripcion_familia_usuario]) VALUES (2, 1, N'Administrador General')
INSERT [dbo].[Familia_Usuario] ([ID_Usuario], [ID_Familia], [Descripcion_familia_usuario]) VALUES (3, 2, N'Ventas')
INSERT [dbo].[Idioma] ([ID_Idioma], [Nombre_idioma]) VALUES (1, N'Español')
INSERT [dbo].[Idioma] ([ID_Idioma], [Nombre_idioma]) VALUES (2, N'Inglés')
INSERT [dbo].[Patente] ([ID_Patente], [Nombre_patente], [Condicion], [DVH]) VALUES (1, N'Alta usuario', N'Ninguna', 1963)
INSERT [dbo].[Patente] ([ID_Patente], [Nombre_patente], [Condicion], [DVH]) VALUES (2, N'Modificar usuario', N'Alta usuario', 2962)
INSERT [dbo].[Patente] ([ID_Patente], [Nombre_patente], [Condicion], [DVH]) VALUES (3, N'Baja usuario', N'Baja usuario', 2399)
INSERT [dbo].[Patente_Familia] ([ID_Patente], [ID_Familia], [Estado], [DVH]) VALUES (1, 1, 1, 514)
INSERT [dbo].[Patente_Familia] ([ID_Patente], [ID_Familia], [Estado], [DVH]) VALUES (2, 1, 1, 515)
INSERT [dbo].[Patente_Familia] ([ID_Patente], [ID_Familia], [Estado], [DVH]) VALUES (3, 1, 1, 516)
SET IDENTITY_INSERT [dbo].[Producto] ON 

SET IDENTITY_INSERT [dbo].[Producto] OFF
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre_Usuario], [Contraseña_usuario], [Nick_Usuario], [Bloqueo], [DNI], [Mail], [Idioma], [DVH]) VALUES (1, N'admin', N'NtzE0a7IUPk=', N'Administrador', 0, 11111111, N'admin@yopmail.com', 1, 5567)
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre_Usuario], [Contraseña_usuario], [Nick_Usuario], [Bloqueo], [DNI], [Mail], [Idioma], [DVH]) VALUES (2, N'Ivana Yael Currá', N'NtzE0a7IUPk=', N'IvanaYC', 0, 34123042, N'ivanayael@hotmail.co', 1, 6250)
INSERT [dbo].[Usuario] ([ID_Usuario], [Nombre_Usuario], [Contraseña_usuario], [Nick_Usuario], [Bloqueo], [DNI], [Mail], [Idioma], [DVH]) VALUES (3, N'Juancarlos', N'NtzE0a7IUPk=', N'Juanito', 0, 34129034, N'juanito@yopmail.com', 1, 5718)
INSERT [dbo].[Usuario_Patente] ([ID_Usuario], [ID_Patente], [Estado], [DVH]) VALUES (1, 1, 1, 0)
INSERT [dbo].[Usuario_Patente] ([ID_Usuario], [ID_Patente], [Estado], [DVH]) VALUES (1, 2, 1, 0)
INSERT [dbo].[Usuario_Patente] ([ID_Usuario], [ID_Patente], [Estado], [DVH]) VALUES (1, 3, 1, 0)
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([ID_Venta], [ID_Cliente], [Fecha_Venta], [Tipo], [DNI], [Nro_Factura], [DVH]) VALUES (2, 2, CAST(N'2018-11-13' AS Date), N'Factura', N'40080243', 15, NULL)
SET IDENTITY_INSERT [dbo].[Venta] OFF
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Venta_Producto] FOREIGN KEY([ID_Producto])
REFERENCES [dbo].[Producto] ([ID_Producto])
GO
ALTER TABLE [dbo].[Detalle_Venta] CHECK CONSTRAINT [FK_Detalle_Venta_Producto]
GO
ALTER TABLE [dbo].[Detalle_Venta]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Venta_Venta] FOREIGN KEY([ID_Venta])
REFERENCES [dbo].[Venta] ([ID_Venta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Detalle_Venta] CHECK CONSTRAINT [FK_Detalle_Venta_Venta]
GO
ALTER TABLE [dbo].[Familia_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Usuario_Familia] FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Familia_Usuario] CHECK CONSTRAINT [FK_Familia_Usuario_Familia]
GO
ALTER TABLE [dbo].[Familia_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Familia_Usuario_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Familia_Usuario] CHECK CONSTRAINT [FK_Familia_Usuario_Usuario]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [FK_Mensajes_Idioma] FOREIGN KEY([ID_Idioma])
REFERENCES [dbo].[Idioma] ([ID_Idioma])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [FK_Mensajes_Idioma]
GO
ALTER TABLE [dbo].[Patente_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Patente_Familia_Familia] FOREIGN KEY([ID_Familia])
REFERENCES [dbo].[Familia] ([ID_Familia])
GO
ALTER TABLE [dbo].[Patente_Familia] CHECK CONSTRAINT [FK_Patente_Familia_Familia]
GO
ALTER TABLE [dbo].[Patente_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Patente_Familia_Patente] FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente] ([ID_Patente])
GO
ALTER TABLE [dbo].[Patente_Familia] CHECK CONSTRAINT [FK_Patente_Familia_Patente]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([ID_Categoria])
REFERENCES [dbo].[Categoria] ([ID_Categoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([Idioma])
REFERENCES [dbo].[Idioma] ([ID_Idioma])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[Usuario_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Patente_Patente] FOREIGN KEY([ID_Patente])
REFERENCES [dbo].[Patente] ([ID_Patente])
GO
ALTER TABLE [dbo].[Usuario_Patente] CHECK CONSTRAINT [FK_Usuario_Patente_Patente]
GO
ALTER TABLE [dbo].[Usuario_Patente]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Patente_Usuario] FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO
ALTER TABLE [dbo].[Usuario_Patente] CHECK CONSTRAINT [FK_Usuario_Patente_Usuario]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([ID_Cliente])
REFERENCES [dbo].[Cliente] ([ID_Cliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
/****** Object:  StoredProcedure [dbo].[disminuir_stock]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[disminuir_stock]
@ID_Producto as integer,
@Cantidad as decimal (18,2)
as
update Producto set Stock=Stock-@Cantidad where ID_Producto=@ID_Producto



GO
/****** Object:  StoredProcedure [dbo].[editar_categoria]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_categoria]
@ID_Categoria integer,
@Nombre_Categoria varchar (50)
as
update Categoria set Nombre_Categoria=@Nombre_Categoria
where ID_Categoria=@ID_Categoria


GO
/****** Object:  StoredProcedure [dbo].[editar_cliente]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_cliente]
@ID_Cliente integer,
@Nombre varchar (250),
@Apellido varchar (250),
@Mail varchar (250),
@DNI varchar (8)
as
update cliente set Nombre=@Nombre, Apellido=@Apellido,Mail=@Mail, DNI=@DNI
where ID_Cliente=@ID_Cliente



GO
/****** Object:  StoredProcedure [dbo].[editar_detalle_venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_detalle_venta]
@ID_detalle_venta as integer,
@ID_Venta as integer,
@ID_Producto as integer,
@Cantidad as decimal (18,2),
@Precio_unitario as decimal (18,2)
as
update Detalle_Venta set ID_Venta=@ID_Venta,ID_Producto=@ID_Producto,Cantidad=@Cantidad,Precio_unitario=@Precio_unitario
where ID_detalle_venta=@ID_detalle_venta



GO
/****** Object:  StoredProcedure [dbo].[editar_producto]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_producto]
@ID_Producto integer,
@ID_Categoria integer,
@Nombre_Producto varchar (250),
@Descripcion varchar (250),
@Stock decimal (18,2),
@Precio_Compra decimal (18,2),
@Precio_Venta decimal (18,2),
@imagen image
as
update producto set ID_Categoria=@ID_Categoria, Nombre_Producto=@Nombre_Producto, Descripcion=@Descripcion,
Stock=@Stock, Precio_Compra=@Precio_Compra, Precio_Venta=@Precio_Venta,imagen=@imagen
where ID_Producto=@ID_Producto



GO
/****** Object:  StoredProcedure [dbo].[editar_venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editar_venta]
@ID_Venta as integer,
@ID_Cliente as integer,
@Fecha_Venta as date,
@Tipo as varchar (250),
@DNI as varchar (8),
@Nro_Factura as integer
as
update Venta set ID_Cliente=@ID_Cliente,Fecha_Venta=@Fecha_Venta,Tipo=@Tipo,DNI=@DNI, Nro_Factura=@Nro_Factura
where ID_Venta=@ID_Venta



GO
/****** Object:  StoredProcedure [dbo].[eliminar_categoria]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_categoria]
@ID_Categoria integer
as
delete from Categoria where ID_Categoria=@ID_Categoria


GO
/****** Object:  StoredProcedure [dbo].[eliminar_cliente]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_cliente]
@ID_Cliente integer
as
delete from cliente where ID_Cliente=@ID_Cliente


GO
/****** Object:  StoredProcedure [dbo].[eliminar_detalle_venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_detalle_venta]
@ID_detalle_venta as integer
as
delete from Detalle_Venta where ID_detalle_venta=@ID_detalle_venta



GO
/****** Object:  StoredProcedure [dbo].[eliminar_producto]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_producto]
@ID_Producto integer
as
delete from Producto where ID_Producto=@ID_Producto



GO
/****** Object:  StoredProcedure [dbo].[eliminar_venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminar_venta]
@ID_Venta as integer
as
delete from Venta where ID_Venta=@ID_Venta



GO
/****** Object:  StoredProcedure [dbo].[insertar_categoria]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_categoria]
@Nombre_Categoria varchar (50)
as
insert into categoria (Nombre_Categoria) values (@Nombre_Categoria)



GO
/****** Object:  StoredProcedure [dbo].[insertar_cliente]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_cliente]
@Nombre varchar (250),
@Apellido varchar (250),
@Mail varchar (250),
@DNI varchar (8)
as
insert into cliente (Nombre, Apellido, Mail, DNI) values (@Nombre, @Apellido, @Mail, @DNI)


GO
/****** Object:  StoredProcedure [dbo].[insertar_detalle_venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_detalle_venta]
@ID_Venta as integer,
@ID_Producto as integer,
@Cantidad as decimal (18,2),
@Precio_Unitario as decimal (18,2)
as
insert into detalle_venta (ID_Venta,ID_Producto,Cantidad,Precio_unitario)
values (@ID_Venta,@ID_Producto,@Cantidad,@Precio_unitario)



GO
/****** Object:  StoredProcedure [dbo].[insertar_producto]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[insertar_producto]
@ID_Categoria integer,
@Nombre_Producto varchar (250),
@Descripcion varchar (250),
@Stock decimal (18,2),
@Precio_Compra decimal (18,2),
@Precio_Venta decimal (18,2),
@imagen image
as
insert into Producto (ID_Categoria,Nombre_Producto,Descripcion,Stock,Precio_Compra,Precio_Venta,imagen)
values (@ID_Categoria,@Nombre_Producto,@Descripcion,@Stock,@Precio_Compra,@Precio_Venta,@imagen)



GO
/****** Object:  StoredProcedure [dbo].[insertar_venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertar_venta]
@ID_Cliente as integer,
@Fecha_Venta as date,
@Tipo as varchar (250),
@DNI as varchar (8),
@Nro_Factura as integer
as
insert into Venta (ID_Cliente,Fecha_Venta,Tipo,DNI, Nro_Factura)
values (@ID_Cliente,@Fecha_Venta,@Tipo,@DNI, @Nro_Factura)



GO
/****** Object:  StoredProcedure [dbo].[mostrar_categoria]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[mostrar_categoria]
as
select * from Categoria order by ID_Categoria desc



GO
/****** Object:  StoredProcedure [dbo].[mostrar_cliente]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[mostrar_cliente]
as
select * from cliente order by ID_Cliente desc


GO
/****** Object:  StoredProcedure [dbo].[mostrar_detalle_venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrar_detalle_venta]
as
SELECT        dbo.Detalle_Venta.ID_detalle_venta, dbo.Detalle_Venta.ID_Venta, dbo.Detalle_Venta.ID_Producto, dbo.Producto.Nombre_Producto, dbo.Detalle_Venta.Cantidad, dbo.Detalle_Venta.Precio_unitario
FROM            dbo.Detalle_Venta INNER JOIN
                         dbo.Producto ON dbo.Detalle_Venta.ID_Producto = dbo.Producto.ID_Producto order by dbo.Detalle_Venta.ID_detalle_venta desc

GO
/****** Object:  StoredProcedure [dbo].[mostrar_producto]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[mostrar_producto]
as 
select Producto.ID_Producto, Producto.ID_Categoria, Categoria.Nombre_Categoria,Producto.Nombre_Producto,
Producto.Descripcion,Producto.Stock,Producto.Precio_Compra, Producto.Precio_Venta,
Producto.imagen
from Producto inner join Categoria on Producto.ID_Categoria=Categoria.ID_Categoria
order by Producto.ID_Producto desc


GO
/****** Object:  StoredProcedure [dbo].[mostrar_venta]    Script Date: 21/11/2018 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrar_venta]
as
SELECT        dbo.Venta.ID_Venta, dbo.Venta.ID_Cliente, dbo.Cliente.Apellido, dbo.Cliente.DNI, dbo.Venta.Fecha_Venta, dbo.Venta.Tipo, dbo.Venta.DNI AS Expr1, dbo.Venta.Nro_Factura
FROM            dbo.Venta INNER JOIN
                         dbo.Cliente ON dbo.Venta.ID_Cliente = dbo.Cliente.ID_Cliente
						 order by dbo.Venta.ID_Venta desc


GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Venta"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "Cliente"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Detalle_Venta"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Producto"
            Begin Extent = 
               Top = 6
               Left = 250
               Bottom = 136
               Right = 437
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_2'
GO
USE [master]
GO
